.center{
    text-align: center;
    /* justify-content: center; */
}
*{
    margin: 0;
    padding: 0;
}

.bg-red{
    background: red;
}


.flex{
    display: flex;
} 
.flex-col{
    flex-direction: column;
}

.items-center{
    align-items: center;
}

